@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" ;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 10px 100px;
}
nav img:nth-child(1){
    width: 7%;
    height: 100%;
}
nav.nav-items{
    width: 70%;
}
.nav-items h5.active-item{
    display: inline-block;
    font-size: 20px;
    color: #FF6666;
    font-weight: 800;
}
.nav-items h5.nav-item{
    display: inline-block;
    margin-left: 75px ;
    font-size: 20px;
    font-weight: normal;
}

nav img:nth-child(3){
    width: 20%;
}





.intro-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    margin: 20px 80px;
    justify-content: space-between;
}
.intro-section .left-section{
    height: 625px;
    /* background-color: chartreuse; */
    
}
.intro-section .left-section h3{
    font-size: 35px;
    font-weight: 500;
    position: relative;
    top: 70px;
}
.intro-section .left-section h3 img{
    height: 50px;
    width: 50px;
}
.intro-section .left-section h1{
    font-size: 60px;
    font-weight: 900;
    position: relative;
    top: 80px;
}
.intro-section .left-section .sub-headlines{
    position: relative;
    top: 90px;
    margin-left: 50px;
}
.intro-section .left-section .sub-headlines h5.sub-headline{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
}
.intro-section .left-section .sub-headlines h5.sub-headline img{
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    margin-right: 20px;
}

.intro-section .left-section p.text{
    position: relative;
    top: 100px;
    margin-top: 40px;
    width: 85%;
    color: rgb(77, 71, 71);
}
.intro-section .left-section .action-btns{
    /* margin-top: 40px; */
    position: relative;
}
.intro-section .left-section .action-btns button.action-btn{
    position: relative;
    top: 142px;
    /* left: 70px; */
    padding: 15px 40px;
    background-color: #FF6666;
    /* margin-right: 50px; */
    border-radius: 50px;
    color: aliceblue;
    font-size: 20px;
    border: none;
    margin-right: 25px;
}









.intro-section .right-section{
    /* background-color: cornflowerblue; */
    height: 625px;
    z-index: -2;

}


.intro-section .right-section .headphone-div{
    position: relative;
    left: -50px;
    /* background-color: crimson; */
}
.intro-section .right-section .headphone-div img:nth-child(1){
    position: absolute;
    top: 260px;
    left: 80px;
    height: 130px;
    width: 130px;
}
.intro-section .right-section .headphone-div .discount-content{
    /* background-color: aquamarine; */
    position: absolute;
    top: 290px;
    left: 110px;
}
.intro-section .right-section .headphone-div .discount-content h4{
    font-size: 12px;
    color: white;
}
.intro-section .right-section .headphone-div .discount-content h1{
    font-size: 35px;
    color: white;
    
}
.intro-section .right-section .headphone-div img:nth-child(3){
    position: absolute;
    /* top: -10px; */
    top: 0px;
    left: 100px;
    height: 450px;
    width: 450px;
    z-index: -1;
}




.intro-section .right-section .dots{
    position: relative;
}
.intro-section .right-section .dots .yellow-dot{
    position: absolute;
    top: 450px;
    left: 180px;
}
.intro-section .right-section .dots .tomato-dot{
    position: absolute;
    top: 450px;
    left: 260px;
}

.intro-section .right-section .dots .black-dot{
    position: absolute;
    top: 450px;
    left: 340px;
}



.intro-section .right-section button.action-btn{
    position: absolute;
    top: 670px;
    /* right: 350px; */
    right: 400px;
    /* left: 50px; */
    padding: 15px 40px;
    background-color: #FF6666;
    margin-right: 50px;
    border-radius: 50px;
    color: aliceblue;
    font-size: 20px;
    border: none;
}
